

<div class="sidenav-my show sidenavs more-bar" id="sidenav-main" >
        <img src="./Frame/public/img/logo.svg" alt="" class="logo-ty">
        <div class="nav-application clearfix" id="nav">
            <a href="index.php"  class="btn btn-square text-sm active">
                <span class="btn-inner--icon d-block icon-my">
                    <i class="czs-doc-file"></i>
                </span>
                <span class="btn-inner--icon d-block pt-2">我的文件</span>
            </a>
            <a href="?c=Recovery" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block  icon-my">
                    <i class="czs-trash"></i>
                </span>
                <span class="btn-inner--icon d-block pt-2">回收站</span>
            </a>
            <a href="?c=Shared" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block  icon-my">
                    <i class="czs-control"></i>
                </span>
                <span class="btn-inner--icon d-block pt-2">共享区</span>
            </a>
            <a href="?a=out" class="btn btn-square text-sm">
                <span class="btn-inner--icon d-block  icon-my">
                    <i class="czs-telegram"></i>
                </span>
                <span class="btn-inner--icon d-block pt-2">退出</span>
            </a>
        </div>
        <!-- <script>
            // 切换navi
            $("#nav a").click(function (e){
                console.log(e)
                $("#nav a").removeClass("active");
                $(e.currentTarget).addClass("active");
            })
        </script> -->
    </div>
<div class="text-center" style="margin-left: 200px;margin-top: 100px;">

    <div
         class="fileBox-ty">
        <div style="width: 1050px;min-height:526px;margin: auto;">
            <?php
		//循环二维数组if(isset($arrs))
		foreach($arrs as $arr){
		?>
            <div class="fileList-ty">
                <img src="./Frame/public/img/file.png" alt="" height="50" style="margin: 20px;">
                <!-- <i class="czs-file-l" style="margin: 20px;font-size: 5rem;color: 232323;"></i> -->
                <p class="file-ty">
                    <?php echo $arr['filename']?>
                </p>
                <p class="file-ty">
                    <?php echo round($arr['filesize']/1024,2)?>kb
                </p>
                <p class="file-ty">
                    <?php echo date('Y-m-d H:i:s',$arr['uptime'])?>
                </p>
                <div class="dropdown" style="margin: 10px 0;">
                    <a style="width: 100px;font-size: 25px;padding: 0px;" class="btn btn-ty" href="#" role="button"
                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="czs-more" style="font-weight: 500;"></i>
                        <div style="position: absolute;" class="isSharedBox">
                            <?php  $pageObj->isShared($arr['shared'],$arr['id'])?> 
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item-ty"  href="#"
                            onClick="confirmDel(<?php echo $arr['id']?>)"><i class="czs-trash-l"
                                style="margin-right: 5px;"></i>删除</a>
                        <a class="dropdown-item-ty" 
                            href="?a=download&arr=<?php echo http_build_query($arr) ?>"><i class="czs-download-l"
                                style="margin-right: 5px;"></i>下载</a>
                        <div>
                            <?php  $pageObj->shared($arr['shared'],$arr['id'])?>
                        </div>
                    </div>
                </div>
            </div>
            <?php }?>
        </div>
        <div class="page-ty">
            <nav aria-label="Page navigation example" style="text-align: center;">
                <ul class="pagination" >
                    <?php $pageObj->fenye();  ?>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script type="text/javascript">
    function confirmDel(id) {
        //询问是否要删除？
        if (window.confirm("你真的要删除吗？确认将移入回收站")) {
            //如果单击"确定"按钮，跳转到delete.php页面
            //ac代表删除动作。问号省略了控制器名
            location.href = "?a=delete&id=" + id;
        }
    }
</script>


