<div class="sidenav-my show sidenavs more-bar" id="sidenav-main">
    <img src="./Frame/public/img/logo.svg" alt="" class="logo-ty">
    <div class="file-ty" style="text-align: center;line-height: 20px;margin-bottom: 30px;">
        Hello <?php echo $_SESSION['username'] ?>
    </div>
    <div class="nav-application clearfix" id="nav">
        <a href="index.php" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block icon-my">
                <i class="czs-doc-file"></i>
            </span>
            <span class="btn-inner--icon d-block pt-2">我的文件</span>
        </a>
        <a href="?c=Recovery" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block  icon-my">
                <i class="czs-trash"></i>
            </span>
            <span class="btn-inner--icon d-block pt-2">回收站</span>
        </a>
        <a href="?c=Shared" class="btn btn-square text-sm active">
            <span class="btn-inner--icon d-block  icon-my">
                <i class="czs-control"></i>
            </span>
            <span class="btn-inner--icon d-block pt-2">共享区</span>
        </a>
        <a href="?a=out" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block  icon-my">
                <i class="czs-telegram"></i>
            </span>
            <span class="btn-inner--icon d-block pt-2">退出</span>
        </a>
    </div>
    <!-- <script>
            // 切换navi
            $("#nav a").click(function (e){
                console.log(e)
                $("#nav a").removeClass("active");
                $(e.currentTarget).addClass("active");
            })
        </script> -->
</div>
<div class="text-center" >
    <div class="fileBox-ty">
        <div style="width: 100%;min-height:526px;margin: auto;">
            <?php
			//循环二维数组if(isset($arrs))
			foreach($arrs as $arr){
			?>
            <div class="fileList-ty">
                <img src="./Frame/public/img/file.svg" alt="" height="75" style="margin: 10px;">
                <p class="file-ty">
                    <?php echo $arr['username']?> 分享
                </p>
                <p class="file-ty">
                    <?php echo $arr['filename'].".".$arr['filetype'] ?>
                </p>
                <div class="dropdown" style="margin: 10px 0;">
                    <a  class="btn btn-ty"
                        href="?c=Shared&a=download&arr=<?php echo http_build_query($arr) ?>">
                        <i class="czs-download-l" style="font-weight: 500;"></i>
                    </a>
                </div>
            </div>
            <?php }?>
        </div>
        <div class="page-ty">
            <nav aria-label="Page navigation example" style="text-align: center;">
                <ul class="pagination">
                    <?php $pageObj->fenye("Shared")?>
                </ul>
            </nav>
        </div>
    </div>
</div>