<div class="sidenav-my show sidenavs upload-bar" id="sidenav-main">
    <div>
        <div class="input-group" style="height: 200px;">
            <div class="custom-file uploadBox-ty">
                <form action="?a=upload" method="post" enctype="multipart/form-data">
                    <input type="file" onchange="change();" name="file" class="custom-file-input" id="upload"
                        aria-describedby="inputGroupFileAddon01">
                    <!-- <label class="custom-file-label11" for="upload">选择上传</label> -->
                    <div class="upload-ty">
                        <p id="list-container">拖拽上传</p>
                        <button class="btn btn-ty" type="submit">
                            <i  class="czs-upload-l"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            function change() {
                var obj = document.getElementById("upload");
                var len = obj.files.length;
                for (var i = 0; i < len; i++) {
                    var temp = obj.files[i].name;
                    console.log(temp);
                    var temps = '<span style="letter-spacing: 1px;color: #222;">' + temp + '</span>'
                    document.getElementById("list-container").innerHTML = temps;
                }
            }
        </script>
    </div>
</div>